 
html, body {
    height: 100%;
}

body {
    display: flex;
    padding: 10px;
    background-color: #f5f5f5;
}

.login {

    align-items: center;
    
}

.form-signin {
    width: 100%;
    max-width: 530px;
    padding: 15px;
    margin: auto;

}

.form-signin input[type="text"] {
    border-radius: 0;
    margin-bottom:40px;
    padding:20px;
}


.mensagem {
    margin-top:80px;
}


.placar {

    border: 2px solid #ccc;

    margin: 0px;
    padding:20px;
    text-align: center;
    height: 100px;
    margin-bottom: 20px;
   

}

#combate {
 
    border: 2px solid #ddd;
    margin: 0px;
    padding:10px;
    text-align: center;
    height: 100px;
        margin-bottom: 20px;

}




.deck {

/*display: flex;*/

}



.card {
/*    width: 44%;*/
    margin:0px;
    padding: 10px;
    
    float: left;
    margin: 1rem;
    position: relative;
    box-shadow: -1px 8px 18px -6px black;

  

}

.card a:hover{

    background-color:#00ff15;

}





.card_escolhido {

      background-color:#ddd;
      box-shadow: -1px 0px 0px -6px black;

}
